.about{
    &-desc{
        @include set-background($bg__about-desc-img,0,"top right","cover","scroll");
    }
    &-ext{
        @include set-background($bg__about-ext-img,0,"top left","cover","scroll");
    }
}
.bg{
    &-home{
        @include set-background($bg__home-img,0,"top center","cover","scroll");
    }
    &-products{
        @include set-background($bg__products-img,0,"center","cover","scroll");
    }
    &-red{
        background-color: $color__red!important;
    }
    &-services{
        @include set-background($bg__services-img,0,"center","cover","scroll");
    }
    &-violet{
        background-color: $color__violet!important;
    }
    &-vred{
        background-image: linear-gradient(135deg,$color__violet,$color__red);
    }
}
.border{
    &-dark-red{
        border-color: $color__dark-red!important;
    }
    &-red{
        border-color: $color__red!important;
    }
    &-violet{
        border-color: $color__violet!important;
    }
}
.contact{
    &-bg{
        @include set-background($bg__contact-img,0,"top center","cover","fixed");
    }
}
.login{
    &-form{
        @include set-background($bg__login-img,0,"top left","cover","fixed");
    }
}
.opacity{
    &-8{
        opacity: 0.8;
    }
    &-9{
        opacity: 0.9;
    }
}
.products,.services{
    &-s1{
        @include set-background(nth($bg_p,1),0,"top left","cover","scroll");
    }
    &-s2{
        @include set-background(nth($bg_p,2),0,"top left","cover","scroll");
    }
    &-s3{
        @include set-background(nth($bg_p,3),0,"top left","cover","scroll");
        background-color: #666!important;
        background-blend-mode: multiply!important;
    }
}
.register{
    &-form{
        @extend .login-form;
    }
}
.text{    
    &-dark-red{
        color: $color__dark-red!important;
    }
    &-red{
        color: $color__red!important;
    }
    &-violet{
        color: $color__violet!important;
    }
}
textarea{
    resize: none;
}

@media all and (max-width: 767px){
    .products,.services{
        &-s1,&-s2,&-s3{
            background-color: #666!important;
            background-blend-mode: multiply!important;
        }
    }
}